<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="filePath"
			 value="C:\Users\real\Documents\projetos\TournamentTracker\data"/>
	</appSettings>
	
	<connectionStrings>
		<add name="Tournaments"
			 connectionString="Data Source=VM01\SQLEXPRESS;
                         Initial Catalog=Tournaments;
                         Integrated Security=True;
						 Encrypt=True;
						 TrustServerCertificate=True;
                         Connect Timeout=60;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v9.0" sku=".NETFramework,Version=v9.0.3"/>
	</startup>
</configuration>